<div>
    <section class="header">
        <button class="home_btn"[routerLink]="''"><i class="fas fa-home"></i></button>
        <h1 class="cat_name">{{catDetail.name}}</h1>    
    </section>
    <section class="text_center">
        <img class="cat_detail_img" 
            src="{{catDetail.image ? catDetail.image : 'assets/images/default_cat.jpg'}}" 
            alt="{{catDetail.id}}">
    </section>
    <section class="heart_box">
        <div class="text_right">
            <button class="heart_btn" [class.clicked_heart]="heart" (click)="clickHeart()">
                <span class="mgR0_5">좋아요</span><i class="fas fa-heart"></i>
            </button>
        </div>
    </section>
</div>