.cat_detail_img {
    width: 50%;
    height: auto;
}
.heart_box {
    width: 50%;
    text-align: right;
}
.heart_btn {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 6rem;
    height: 2rem;
    text-align: center;
}