.mgT0 {
    margin-top: 0px;
}
.mgR0_5 {
    margin-right: 0.5rem;
}
.mgL1 {
    margin-left: 1rem;
}

.text_center {
    text-align: center;
}
.text_right {
    text-align: right;
}
.cursor_p {
    cursor: pointer;
}