<div>
  <h1 class="text_center">😸 고양이 사진 갤러리 😻</h1>
  <section class="text_center search_box">
    <input class="search_input" type="text" formcontrolname="keyword" name="keyword">
    <button class="search_button" type="submit">Search</button>
  </section>
  <section class="gallery">
    <div class="cat_items cursor_p" *ngFor="let cat of catList" (click)="moveCatDetail(cat)">
      <span class="cat_name">{{cat.name}}</span>
      <img class="cat_img" 
        src="{{cat.image?.url ? cat.image?.url : 'assets/images/default_cat.jpg'}}" 
        alt="{{cat.id}}">
    </div>
  </section>
</div>