<div>
  <h1 class="text_center">😸 고양이 사진 갤러리 😻</h1>
  <form class="text_center search_box" [formGroup]="form" (submit)="getCatList()">
    <input class="search_input" type="text" formControlName="keyword">
    <button class="search_button" type="submit">Search</button>
  </form>
  <section class="gallery">
    <div class="cat_items cursor_p" *ngFor="let cat of catList" (click)="moveCatDetail(cat)">
      <span class="cat_name">{{cat.name}}</span>
      <img class="cat_img" 
        src="{{cat.image?.url ? cat.image?.url : 'assets/images/default_cat.jpg'}}" 
        alt="{{cat.id}}">
    </div>
  </section>
  <section *ngIf="!catList.length">
    <h5 class="mgL1">검색 결과가 없습니다.</h5>
  </section>
</div>